body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  background-color: #f2f4f8;
}

/* HEADER */
header {
  background-color: #e65802;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  margin-right: 10px;
  background-color: #f2f4f8;
  border-radius: 20px;
}
.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.menu a {
  color: white;
  text-decoration: none;
  padding: 12px 18px;
  display: block;
}
.menu a:hover {
  background-color: #ff7802;
  border-radius: 5px;
}

.container {
display: flex;
align-items: flex-start;
justify-content: center;
gap: 20px;
max-width: 900px;
margin: 40px auto;
background: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.anh1 img {
width: 250px;
height: auto;
border-radius: 8px;
}
.info {
flex: 1;
}


h1 {
font-size: 24px;
margin-bottom: 15px;
}


p {
font-size: 16px;
margin: 6px 0;
}


@media (max-width: 768px) {
.container {
flex-direction: column;
align-items: center;
text-align: center;
}


.cover img {
width: 80%;
}
}
.info2 {
  display: flex;
  border-radius: 8px;
  border-color: #084e9e;
  border-style: ridge;
  padding: 7px;
}
.blue { background-color: #2b6b93; }
.green { background-color: #3c8b64; }
.red   { background-color: #c54a4a; }

span {
  display: inline-block;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 14px;
}
.theloai {
  display: flex;
  justify-content: center;
}