header {
  background-color: #e65802;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-radius: 8px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
  margin-right: 10px;
  background-color: #f2f4f8;
  border-radius: 20px;
}
.user a {
    display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0 5px;
  background-color: rgb(1, 4, 66);
  padding: 10px 15px;
  border-radius: 10px;
  
}
.user a:hover {
  text-decoration: underline;
}

.banner {
  background: linear-gradient(90deg, #e65802, #ff7802);
  color: white;
  text-align: center;
  padding: 60px 15px;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}
.banner h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
  background-color: #333;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}
.menu a:hover {
  background-color: #ff7802;
}

.books {
  padding: 20px;
  text-align: center;
}
.book-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.book {
  width: 180px;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}
.book a {
  text-decoration: none;
}
.book:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px 5px gray;
}
.book img {
  width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 14px;
}
